<div class="center">
  <h1>Rock Paper Scissors!</h1>

  <div class="row">
    <div class="col">
      <h2>Nirav | Score : {{ scores[0] }}</h2> 
      <h4>please select your choice from below</h4>
      <span (click)="sendChoice('paper')"  [ngStyle]="{'opacity': (isClicked && playerChoice === 'paper' ? '1' : '0.3') }" class="pointer active"> <img src="../assets/images/Paper-50.png" alt=""></span>
      <span (click)="sendChoice('rock')"  [ngStyle]="{'opacity': (isClicked && playerChoice === 'rock' ? '1' : '0.3') }" class="pointer active"> <img src="../assets/images/Rock-50.png" alt=""></span>
      <span (click)="sendChoice('scissors')"  [ngStyle]="{'opacity': (isClicked && playerChoice === 'scissors' ? '1' : '0.3') }" class="pointer active"> <img src="../assets/images/Scissors-50.png" alt=""></span>
    </div>

    <ng-template #Error>
      <div>
        <div> {{ hasError }} </div>
      </div>
    </ng-template>

    <div class="col" *ngIf="play2; else Error">
        <h2>Dom and Tom | Score : {{ scores[1] }}</h2>
        <div> Computer Choice : {{ play2.computerChoice }} </div>
        <div> Player Choice : {{ play2.playerChoice }} </div>
        <div> Result : {{ play2.result }} </div>
    </div>
  </div>
  <div class="playCenter"> 
    <img src="../assets/images/Play-50.png" alt=""> 
    <button class="btn btn-danger" [disabled]="!play2"  (click)="reset()"> Reset </button>
  </div>

  <h2> Let me knows whos win ? :)</h2>

  <div>
    NOTE :
      - miss the scenario to send data on play button.  
  </div>
</div>
